@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}
:root{
    --color-blue: rgb(48, 48, 133); 
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    height: 100vh;
    justify-content: center; 
    overflow: hidden; 
    margin: 0; 
    background-color: var(--color-blue);
}
input{
    outline: none;
    font-family: inherit;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    transition: width 0.3s ease;
}
.unactive{
    display: none;
}
#btn{
    outline: none;
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}
i{
    color:var(--color-blue) ;
}
